// Specific CSS for your home-page
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
  width: 50vw;
  margin: 0 auto;
}

body {
  background-color: whitesmoke;
}