<nav class="my-4 portfolio-nav">
  <!-- <a class="my-name" href="#">Sean O'Reilly</a> -->
  <%= link_to "SEAN O'REILLY", root_path, class: "my-name active tabs" %>
  <%= link_to "About", about_path, class: "tabs" %>
  <%= link_to "Projects", projects_path, class: "tabs" %>
  <%= link_to "Get in touch", new_contact_path, class: "tabs", style: "background: #21FDE1; " %>

  <!-- <a href="#">About</a> -->
  <!-- <a href="#">Projects</a> -->
  <!-- <a href="#">Get in touch</a> -->
</nav>


<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Pricing</a>
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </div>
    </div>
  </div>
</nav> -->