<nav class="portfolio-nav d-flex">
  <div id="examples">
    <div class="example">
      <span class="hover hover-1">
        <%= link_to "Home", root_path, class: "my-name active tabs" %>
      </span>
    </div>
  </div>
  <div id="examples">
    <div class="example">
      <span class="hover hover-1">
        <%= link_to "About", about_path, class: "tabs" %>
      </span>
    </div>
  </div>
  <div id="examples">
    <div class="example">
      <span class="hover hover-1">
        <%= link_to "Projects", projects_path, class: "tabs", id: "project-tab" %>
      </span>
    </div>
  </div>
  <div id="examples">
    <div class="example">
      <span class="hover hover-1">
        <%= link_to "Get in touch", new_contact_path, class: "tabs", style: "background: #21FDE1; " %>
      </span>
    </div>
  </div>
  
</nav>


<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Pricing</a>
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </div>
    </div>
  </div>
</nav> -->
