
<div class="d-flex flex-column">

  <h2>About me</h2>
  <h3>teacher / developer / learner / </h3>
  <%= image_tag "profile.jpg", style: "width: 45vw;" %>
  <br>
  <p>Hey there! I’m Sean O'Reilly.</p>
  
  <p>In October 2020 I officially began my studies as a web developer by joining the team at Le Wagon Mexico, a highly rated full stack web development bootcamp with locations based all over the world, and this one being based in Mexico City, Mexico. 

  <p>My main expertise since completion of the bootcamp is with <span class="ruby">Ruby and Rails</span> but in my time studying I have gained experience working with a number of other technologies and platforms including <span class="heroku">Heroku</span>, <span class="vanilla">vanilla JS</span>, <span class="jq">JQuery</span>, <span class="postgresql">PostgreSQL</span>, <span class="git">Git and Github</span>, <span class="scss">SCSS</span>, and <span class="react">React</span>. </p></p>

  <p>Since early 2015 I’ve worked as an English teacher while exploring the world, setting up in such varied cities as Bangkok, Ho Chi Minh City, and Huelva and Murcia, Spain. I have had the wonderful opportunity to travel and experience so many different cultures across our beautiful planet. Although I loved teaching and was deeply passionate about my students success, I am so excited to be taking on a new creative endeavor to push me even further and one that can challenge me and my desire for problem solving and going beyond what I already know.</p>

  <p>I’m always excited to talk with people about the interesting things they’re working on so if you think you could use my help, hit me up on <a href="https://www.instagram.com/sea.oreilly/" target="_blank">Instagram</a>, <a href="https://twitter.com/seaoreilly" target="_blank">Twitter</a> or drop me an email.</p>
  
  <div id="loader" class="loader-5 mx-auto d-none"><span></span></div>
</div>