
<div class="d-flex flex-column mt-3">
  <h2>Sean O'Reilly</h2>
  <%= image_tag "sean.jpg", style: "width: 30%" %>
  <p class="pt-3 home">I love building performant, maintainable web applications with <span>Ruby on Rails</span>, while continuing to add tools like <span>React</span>, <span>JavaScript</span>, and other technologies to my knowledge, and also writing about my experiences with working remotely while travelling the world.</p>
  <p>A recent graduate from the acclaimed <a class="home-links" href="https://www.lewagon.com/mexico" target="_blank">Le Wagon</a> international bootcamp, I come prepared and excited to grow and learn as a developer. Download my resume <%= link_to "here", asset_path("seanoreillyresume.pdf"), download:"seanoreillyresume.pdf" %>.</p> 

  <p>Have a project you think we'd work well on together? <%= link_to "Get in touch!", new_contact_path, class: "home-links" %></p>
  
  <h3 class="my-3">Projects I've worked on recently ...</h3>
  <div class="d-flex justify-content-between">
    <p><a href="https://squidiapp.herokuapp.com/" target="_blank">JAN 2021 | SquidyApp: </a>A MapBox-based wifi tracking app</p>
    <p class="d-none d-lg-block">..........................<a href="https://github.com/seano424/squidy" title="Github" target="_blank" style="text-decoration: none;">💎</a></p>
  </div>
  <div class="d-flex justify-content-between">
    <p><a href="https://www.booklub.xyz/" target="_blank">DEC 2020 | Booklub: </a> A Ruby on Rails book club app</p>
    <p class="d-none d-lg-block">...................................<a href="https://github.com/seano424/booklub" title="Github" target="_blank" style="text-decoration: none;">💎</a></p>
  </div>
  <div class="d-flex justify-content-between">
    <p><a class="api-call" href="http://schoolgoal.herokuapp.com/" target="_blank">NOV 2020 | Schoolgoal: </a>Connecting teachers & students</p>
    <p class="d-none d-lg-block">...........................<a href="https://github.com/seano424/schoolgoal" title="Github" target="_blank" style="text-decoration: none;">💎</a></p>
  </div>
  <div id="loader" class="loader-5 mx-auto d-none"><span></span></div>
</div>

<h3 class="my-3">Experiments I've played around on recently ...</h3>

<div class="d-flex justify-content-between">
  <p><a href="https://frosty-kare-34c3d4.netlify.app/" target="_blank">JAN 2021 | Abracadabra: </a>JavaScript Speech Recognition</p>
  <p class="d-none d-lg-block">............................<a href="https://github.com/seano424/speechrecognition" title="Github" target="_blank" style="text-decoration: none;">💎</a></p>
</div>
<div class="d-flex justify-content-between">
  <p><a href="https://sealife.herokuapp.com/" target="_blank">DEC 2020 | Sealife: </a>A visual CSS experiment</p>
  <p class="d-none d-lg-block">................................................<a href="https://github.com/seano424/sealife" title="Github" target="_blank" style="text-decoration: none;">💎</a></p>
</div>
<div class="d-flex justify-content-between">
  <p><a href="https://sean-mr-cocktail.herokuapp.com/" target="_blank">NOV 2020 | Mr. Cocktail: </a>An MVP to collect recipes</p>
  <p class="d-none d-lg-block">....................................<a href="https://github.com/seano424/rails-mister-cocktail" title="Github" target="_blank" style="text-decoration: none;">💎</a></p>
</div>
<div class="d-flex justify-content-between">
  <p><a href="https://github.com/seano424/rails-simple-airbnb" target="_blank">NOV 2020 | Rails Simple Airbnb: </a>Keep track of your tasks</p>
  <p class="d-none d-lg-block">........................<a href="https://github.com/seano424/rails-simple-airbnb" title="Github" target="_blank" style="text-decoration: none;">💎</a></p>
</div>
<div class="d-flex justify-content-between">
  <p><a href="https://github.com/seano424/rails-yelp-mvp" target="_blank">NOV 2020 | Rails Yelp MVP: </a>list and locate restaurants</p>
  <p class="d-none d-lg-block">..............................<a href="https://github.com/seano424/rails-yelp-mvp" title="Github" target="_blank" style="text-decoration: none;">💎</a></p>
</div>
<div id="loader" class="loader-5 mx-auto d-none"><span></span></div>
</div>