
<div class="d-flex flex-column mt-3">
  <h2>Sean O'Reilly</h2>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag "sean.jpg", style: "width: 15vw" %>
    </div>
    <div class="col">
      <p class="pt-4 home">I love building performant, maintainable web applications with <span>Ruby on Rails</span>, while continuing to add tools like <span>React</span>, <span>JavaScript</span>, and other technologies to my knowledge, and also writing about my experiences with working remotely while travelling the world.</p>
    </div>
  </div>
    <p class="mt-3">A recent graduate from the acclaimed <a class="home-links" href="https://www.lewagon.com/mexico" target="_blank">Le Wagon</a> international bootcamp, I come prepared and excited to grow and learn as a developer. Download my resume <%= link_to "here", asset_path("seanoreillyresume.pdf"), download:"seanoreillyresume.pdf" %>.</p> 
  
    <p>Have a project you think we'd work well on together? <%= link_to "Get in touch!", new_contact_path, class: "home-links" %></p>
  
  <h3 class="my-3">Projects I've worked on recently ...</h3>
  <div class="d-flex justify-content-between">
    <p><a href="http://www.squidyapp.xyz/" target="_blank">JAN 2021 | SquidyApp: </a>A MapBox-based wifi tracking app</p>
    <p class="d-none d-lg-block">......................<a href="https://github.com/seano424/squidy" title="Github Repo" target="_blank" style="text-decoration: none;">💎</a></p>
  </div>
  <div class="d-flex justify-content-between">
    <p><a href="https://www.booklub.xyz/" target="_blank">DEC 2020 | Booklub: </a> A Ruby on Rails book club app</p>
    <p class="d-none d-lg-block">...............................<a href="https://github.com/seano424/booklub" title="Github Repo" target="_blank" style="text-decoration: none;">💎</a></p>
  </div>
  <div class="d-flex justify-content-between">
    <p><a class="api-call" href="http://schoolgoal.herokuapp.com/" target="_blank">NOV 2020 | Schoolgoal: </a>Connecting teachers & students</p>
    <p class="d-none d-lg-block">.......................<a href="https://github.com/seano424/schoolgoal" title="Github Repo" target="_blank" style="text-decoration: none;">💎</a></p>
  </div>
  <div id="loader" class="loader-5 mx-auto d-none"><span></span></div>
</div>

<h3 class="my-3">Experiments I've played around on recently ...</h3>

<div class="d-flex justify-content-between">
  <p><a href="https://eager-ramanujan-85c697.netlify.app/" target="_blank">FEB 2021 | Fuse.js: </a>Fuzzy Search with React w/out dependencies</p>
  <p class="d-none d-lg-block">..........<a href="https://github.com/seano424/react-fusejs-example" title="Github Repo" target="_blank" style="text-decoration: none;">💎</a></p>
</div>
<div class="d-flex justify-content-between">
  <p><a href="https://zen-goldstine-84caba.netlify.app/" target="_blank">FEB 2021 | React Blog: </a>Understanding Redux / Lodash</p>
  <p class="d-none d-lg-block">............................<a href="https://github.com/seano424/blog" title="Github Repo" target="_blank" style="text-decoration: none;">💎</a></p>
</div>
<div class="d-flex justify-content-between">
  <p><a href="https://heuristic-elion-7df3d1.netlify.app/" target="_blank">JAN 2021 | React Video Player: </a>using YouTube's Data API</p>
  <p class="d-none d-lg-block">.......................<a href="https://github.com/seano424/player" title="Github Repo" target="_blank" style="text-decoration: none;">💎</a></p>
</div>
<div class="d-flex justify-content-between">
  <p><a href="https://flamboyant-roentgen-13f159.netlify.app/" target="_blank">JAN 2021 | Unsplash Gallery: </a>React gallery from Unsplash API</p>
  <p class="d-none d-lg-block">................<a href="https://github.com/seano424/pics" title="Github Repo" target="_blank" style="text-decoration: none;">💎</a></p>
</div>
<div class="d-flex justify-content-between">
  <p><a href="https://frosty-kare-34c3d4.netlify.app/" target="_blank">JAN 2021 | Abracadabra: </a>JavaScript Speech Recognition</p>
  <p class="d-none d-lg-block">........................<a href="https://github.com/seano424/speechrecognition" title="Github Repo" target="_blank" style="text-decoration: none;">💎</a></p>
</div>
<div class="d-flex justify-content-between">
  <p><a href="https://clever-joliot-5652e2.netlify.app/" target="_blank">JAN 2021 | Countdown: </a>JavaScript Clock Countdown</p>
  <p class="d-none d-lg-block">............................<a href="https://github.com/seano424/countdown" title="Github Repo" target="_blank" style="text-decoration: none;">💎</a></p>
</div>
<div class="d-flex justify-content-between">
  <p><a href="https://sealife.herokuapp.com/" target="_blank">DEC 2020 | Sealife: </a>A visual CSS experiment</p>
  <p class="d-none d-lg-block">............................................<a href="https://github.com/seano424/sealife" title="Github Repo" target="_blank" style="text-decoration: none;">💎</a></p>
</div>
<div class="d-flex justify-content-between">
  <p><a href="https://sean-mr-cocktail.herokuapp.com/" target="_blank">NOV 2020 | Mr. Cocktail: </a>An MVP to collect recipes</p>
  <p class="d-none d-lg-block">................................<a href="https://github.com/seano424/rails-mister-cocktail" title="Github Repo" target="_blank" style="text-decoration: none;">💎</a></p>
</div>
<div class="d-flex justify-content-between">
  <p><a href="https://github.com/seano424/rails-simple-airbnb" target="_blank">NOV 2020 | Rails Simple Airbnb: </a>Keep track of your tasks</p>
  <p class="d-none d-lg-block">....................<a href="https://github.com/seano424/rails-simple-airbnb" title="Github Repo" target="_blank" style="text-decoration: none;">💎</a></p>
</div>
<div class="d-flex justify-content-between">
  <p><a href="https://github.com/seano424/rails-yelp-mvp" target="_blank">NOV 2020 | Rails Yelp MVP: </a>list and locate restaurants</p>
  <p class="d-none d-lg-block">..........................<a href="https://github.com/seano424/rails-yelp-mvp" title="Github Repo" target="_blank" style="text-decoration: none;">💎</a></p>
</div>
<div id="loader" class="loader-5 mx-auto d-none"><span></span></div>
</div>