footer {
  a {
    font-size: 1.7rem;
    padding: 0px 0.1rem;
  }
}
.footer-links a {
  color: blueviolet;
}

@include media-breakpoint-down(sm) {
  footer {
    width: 80vw;
    margin: 0 auto;
  }
}
