h1,
h2,
h3 {
  font-weight: 700;
}

.big-header {
  top: 36px;
  right: 7px;
  font-size: 7vw;
  position: relative;
  &:hover {
    color: $primary;
  }
}

@include media-breakpoint-down(md) {
  .big-header {
    font-size: 10rem;
    padding-top: 2rem;
    padding-bottom: 6rem;
  }
}

@include media-breakpoint-down(sm) {
  .big-header {
    font-size: 4rem;
    padding-bottom: 2rem;
  }
}
