// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.portfolio-nav {
  font-size: 2rem;
  a {
    padding-right: 1.1rem;
    font-size: 1.1rem;
    // &:hover {
    //   text-decoration: none;
    // }
  }
}
