// .my-card-content {
//   background: black;
//   color: white;
// }

.project-icons {
  width: 10%;
  padding-bottom: 4px;
}

.project-icons-1 {
  width: 10%;
  padding-bottom: 4px;
}

.project-title-cocktail {
  width: 12vw;
}

.project-p-l,
.project-p-r,
.project-p {
  font-size: 1.2rem;
}

.project-p-l {
  position: relative;
  left: 12px;
}

.project-p-r {
  position: relative;
  right: 14px;
}

.project-sass,
.project-js {
  font-size: 2rem;
  position: relative;
  top: 5px;
}

.project-css {
  position: relative;
  top: 4px;
  font-size: 1.8rem;
}

.project-title {
  font-size: 1.8rem;
  font-family: "Bebas Neue", cursive;
}

@include media-breakpoint-down(md) {
  .project-icons {
    width: 8%;
    padding-bottom: 4px;
  }

  .project-icons-1 {
    width: 10%;
  }
  .project-title-cocktail {
    width: 17vw;
  }
}
@include media-breakpoint-down(sm) {
  .project-icons {
    width: 8%;
    padding-bottom: 4px;
  }

  .project-icons-1 {
    width: 13%;
  }
  .project-title-cocktail {
    width: 17vw;
  }
}
@include media-breakpoint-down(xs) {
  .project-icons {
    width: 8%;
    padding-bottom: 4px;
  }

  .project-icons-1 {
    width: 20%;
  }
  .project-icons {
    width: 20%;
  }
  .project-title-cocktail {
    width: 40vw;
  }

  .project-js {
    padding-left: 3px;
    font-size: 2rem;
  }
  .project-sass {
    font-size: 2rem;
    padding-right: 80px;
  }
  .project-css {
    padding-left: 3px;
    font-size: 1.5rem;
  }
}
