.project-icons {
  width: 8%;
  padding-bottom: 4px;
}

.project-icons-1 {
  width: 6%;
  padding-bottom: 4px;
}

.project-title-cocktail {
  width: 12vw;
}


@include media-breakpoint-down(md) {
  .project-icons {
    width: 8%;
    padding-bottom: 4px;
  }
  
  .project-icons-1 {
    width: 10%;
  }
  .project-title-cocktail {
    width: 17vw;
  }
}
@include media-breakpoint-down(sm) {
  .project-icons {
    width: 8%;
    padding-bottom: 4px;
  }
  
  .project-icons-1 {
    width: 13%;
  }
  .project-title-cocktail {
    width: 17vw;
  }
}
@include media-breakpoint-down(xs) {
  .project-icons {
    width: 8%;
    padding-bottom: 4px;
  }
  
  .project-icons-1 {
    width: 20%;
  }
  .project-icons {
    width: 20%;
  }
  .project-title-cocktail {
    width: 40vw;
  }

  .project-js {
    padding-left: 3px;
    font-size: 2rem;
  }
  .project-sass {
    font-size: 2rem;
    padding-right: 80px;
  }
  .project-css {
    padding-left: 3px;
    font-size: 1.5rem;
  }
}