.home {
  span {
    background-color: $primary;
    color: white;
    &:hover {
      text-decoration: none;
    }
  }

}

  .heroku:hover {
    color: turquoise;
  }
  .ruby:hover {
    color: #ff2400;
  }
  .react:hover {
    color: tomato;
  }
  .jq:hover {
    color: #DDF9C1;
  }
  .vanilla:hover {
    color: darkorchid;
  }
  .scss:hover {
    color: violet;
  }
  .git:hover {
    color: #21FDE1;
  }
  .postgresql:hover {
    color: #FF007F;
  }
